body{
    margin: 0;
    font-family: "Karma", sans-serif;
  }
.navbar {
    background-color: #69c4f8;
}
.navbar-brand{
    display: inline;
    padding-left: 30px;
    font-size: 25px;
    font-weight: 700;
}
.navbar-nav {
    margin-left: auto;
    font-size: 20px;
    font-weight: 500;
}
.nav-link {
    margin-left: 3em;
    margin-right: 3em;
    font-weight: 400;
    color: black;
}
.nav-link:hover {
    background-color: lightgray;
    border-radius: 25px;
}
.a-container {
    width: 100%;
    height: 700px;
    display: inline-block;
    padding-top: 25px;
    padding-left: 25px;
}