{% extends "index.html" %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block content %}

<style>
  
  td { 
    font-size: 24;
    width: 300px;
    text-align: center;
    padding: 5px;
  }
  th {
    font-size: 36;
    width: 300px;
    text-align: center;
    padding: 5px;
  }
  td[data-href]{
    cursor: pointer;
  }


</style>
<table>
  <thead>
    <tr>
      <th>Chef</th>
      <th>Show</th>
      <th>Followers</th>
      <th>Posts</th>
    </tr>
  </thead>
  <tbody>
    {% for row in names %}
      <tr>
          <td data-href="/chefs/chef_id">{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>{{row[3]}}</td>
      </tr>
    
      {% endfor %}

  </tbody>
</table>

<script>


$(document).ready(function () {
  $(documment.body).on("click", "td[data-href]", function () {
    window.location.href = this.document.href;
  });
});

</script>

{% endblock %}

