<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    
    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'intro.js') }}"></script>
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">


    <link rel="stylesheet" href="https://use.typekit.net/gzn6uaq.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

  </head>

<title>Our Recipe Project</title>

<body>
  <div class="topnav">
    <a class="active" href="/">Home</a>
    <p><a href="chefs">Chefs</a></p>
    <p><a href = "recipes">Recipes</a></p>
    <p><a href="profile">Profile</a></p>

    <div class="search">  
      <form action="#">
          <input type="text"
              placeholder=" Search"
              name="search">
          <button type="submit">Submit</button>
      </form>
    </div>
  </div>

<div style="padding-left:16px">
  <h2>Welcome to our recipe database!</h2>
  <p>Find your favorite meals, search for recipes by ingredients or look for famous chefs</p>
</div>

<form method="POST" action="/Search">
  <p>Lookup ingredients, recipes, chefs: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>




</body>


</html>
