<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
    
    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript" src="{{ url_for('static', filename = 'intro.js') }}"></script>
  
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">


    <link rel="stylesheet" href="https://use.typekit.net/gzn6uaq.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>

  </head>

<title>Our Recipe Project</title>

<body>

  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <span style="padding-left: 10px" font-size="75px !important">RecipeDBMS</span>
          </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/chefs/">Chefs</a>
          <a class="nav-link" href="/recipes/">Recipes</a>
          <a class="nav-link" href="/profile/">Profile</a>  
          <div class = 'searchbox'>
            <form action = '/search' method = 'POST'>
              <input type ="text" placeholder="Search ingredients" name="wordsearch">
              <input type="submit" formaction="/search" value="Search">
            </form>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="a-container">
    {% block content %}
    <h1>Welcome to the home page!</h1>
    
    <p>If you have an account, login below or browse as Guest.</p>
    <form action = "/login_form" method="POST">
      <h2></h2>Username: <br>
      <input type="text" name="username"><br>
      Email: <br>
      <input name="email" ><br><br>
      <button type="submit" value="Login">Login</button>
    </form>
    


    <p>To make a new account, enter the information below:</p>
    <form action="/add_user" method="POST">
      <p>Username: <input type="text" name="username"></p>
      <p>First name: <input type="text" name="first_name"></p>
      <p>Last name: <input type="text" name="last_name"></p>
      <p>Email: <input type="text" name="email"></p>
      <button type="submit">Submit</button>
    </form>
    {% endblock %}
  </div>
  
</body>

</html>
