{% extends "index.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

    <div class="search">  
      <form action="#">
          <input type="text"
              placeholder=" Search"
              name="search">
          <button type="submit">Submit</button</button>
      </form>
    </div>
  </div>

  <p>If you're a new user, add your information for your profile below:</p>
  <form method="POST" action="/Add">
    <p>First name: <input type="text" name="name"> <input type="submit" value="Add"></p>
    <p>Last name: <input type="text" name="name"> <input type="submit" value="Add"></p>
  </form>


</body>

{% endblock %}