{% extends "index.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}


<body>
    <div class="search">  
      <form action="#">
          
      </form>
    </div>
  </div>

  <p>If you're a new user, add your information for your profile below:</p>

  
  <form action="/add_user" method="POST">
    <p>Username: <input type="text" name="username"></p>
    <p>First name: <input type="text" name="firstname"></p>
    <p>Last name: <input type="text" name="lastname"></p>
    <p>Email: <input type="text" name="email"></p>
    <button type="submit">Submit</button>
  </form>


</body>

{% endblock %}