{% extends "index.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<h2>Profile Page</h2>
  {% if session.username %}
    You are logged in {{session.username}} <a href="/logout">logout</a>.
  {% else %}
    You are not logged in. <a href="/login">login</a>.
  {% endif %}

<div>
  <p>Your account details:</p>
  <table>
    <tr>
        <td>Username:</td>
        <td>{{ account['username'] }}</td>
    </tr>
    <tr>
        <td>First:</td>
        <td>{{ account['first_name'] }}</td>
    </tr>
    <tr>
      <td>Last:</td>
      <td>{{ account['last_name'] }}</td>
    </tr>
    <tr>
        <td>Email:</td>
        <td>{{ account['email'] }}</td>
    </tr>
    <tr>
      <td>Favorites:</td>
      <td>{{ account['favorites'] }}</td>
  </tr>
</table>
</div>

{% endblock %}