{% extends "index.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<body>
  <div class="topnav">
    <p><a href="/">Home</a></p>
    <p><a href="chefs">Chefs</a></p>
    <a class = "active" href="recipes">Recipes</a>
    <p><a href="profile">Profile</a></p>

    <div class="search">  
      <form action="#">
          <input type="text"
              placeholder=" Search"
              name="search">
          <button type="submit">Submit</button</button>
      </form>
    </div>
  </div>