{% extends "index.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<style>
  
  td { 
    font-size: 24;
    width: 300px;
    text-align: center;
    padding: 5px;
  }
  th {
    font-size: 36;
    width: 300px;
    text-align: center;
    padding: 5px;
  }
  
</style>
<table>
  <thead>
    <tr>
      <th>Recipe Title</th>
      <th>Total Time</th>
      <th>Difficulty</th>
    </tr>
  </thead>
  <tbody>
    {% for row in names %}
      <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
      </tr>
      {% endfor %}
  </tbody>
</table>

{% endblock %}