{% extends "index.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<style>
  
    td { 
      font-size: 20;
      width: 150px;
      text-align: center;
      padding: 6px;
    }
    th {
    font-size: 25;
    width: 150px;
    text-align: center;
    padding: 5px;
  }
  </style>

<br/>
<h2>Your Search Results .....</h2>

{% if info != 0 %}
<table id="demo">
    <thead style="height: 100px">
        <th>Recipe</th>
        <th>Ingredient</th>
        <th>Amount</th>
        <th>Rating</th>
        <th>Directions</th>
    </thead>
    <tbody>
        {% for u in info %}
        <tr style ='height:200px'>
            <td>{{ u[0] }}</td>
            <td>{{ u[1] }}</td>
            <td>{{ u[2] }}</td>
            <td>{{ u[3] }}</td>
            <td style="width: 700px">{{ u[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>No search results.</h2>
{% endif %}

{% endblock %} 