{% extends "index.html" %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}

<style>
  
  td { 
    font-size: 22;
    width: 300px;
    text-align: center;
    padding: 5px;
  }
  th {
    font-size: 28;
    width: 300px;
    text-align: center;
    padding: 5px;
  }
  .button{
     color: black;
     line-height: 12px;
     width: 18px;
     font-size: 8pt;
     font-family: tahoma;
     margin: 1px;
     margin-left: 2px;
     position:absolute;
     top:0;
     right:0;
  }
  
  
</style>
<table>
  <div class="container"><br>
    <form action='/favorite' method="POST">
      <input type="checkbox" name="check">
      <button type="submit" name="submit" value="submit">Add to Favorites</button>
    </form>
  </div>

{% for col in info %}
  <h1 style='text-align: center;'><strong>{{col[1]}}</strong></h1>
  {% for x in tabs %}
  <h4 style="text-align: center;">{{x[0]}}</h4>
  {% endfor %}
  <br/>
  <br/>
  <thead>
    <tr>
      <th>Total Time</th>
      <th>Prep Time</th>
      <th>Cook Time</th>
      <th>Difficulty</th>
      <th>Method</th>
    </tr>
  </thead>
  <tbody>
      <tr>
          <td>{{col[2]}}</td>
          <td>{{col[3]}}</td>
          <td>{{col[4]}}</td>
          <td>{{col[5]}}</td>
          <td>{{col[6]}}</td>
      </tr>
  </tbody>
</table>
<br/>
<h3>Directions:</h3>
<p>{{col[7]}}</p>
{% endfor %}
<br/>
<table>
  <thead>
    <tr>
      <th>Ingredient</th>
      <th>Brand</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    {% for item in igList %}
    <tr>
      <td>{{ item[0] }}</td>
      <td>{{ item[1] }}</td>
      <td>{{ item[2] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br/>
<table>
  <thead>
    <tr>
      <th>Review #</th>
      <th>Rating</th>
      <th>Date</th>
      <th>Review</th>
      <th>User</th>
      <th>Likes</th>
    </tr>
  </thead>
  <tbody>
    {% for x in reviews %}
    <tr>
      <td>{{ x[0] }}</td>
      <td>{{ x[1] }}</td>
      <td>{{ x[3] }}</td>
      <td>{{ x[4] }}</td>
      <td>{{ x[6] }}</td>
      <td>{{ x[2] }}</td>
      <td>
        <form action="/updateLike" id='like' method="POST">
          <input type="hidden" value="{{x[0]}}" name = "like">
        <button style="background: yellow;color:black;" onclick="alert('Comment Liked')">Like</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  {% for col in info %}
  <tr><th style="font-size: 20px;"><form action="/movePage2" method="POST"><input type='hidden' value ='{{col[0]}}' name = 'recName'><button type="submit">Add New Comment</button></form></th></tr>
  {% endfor %}
</table>
<br>
<br>
<br>


{% endblock %}
